name: Build IPTV Playlist

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Build playlist
        run: |
          python build_playlist.py

      - name: Upload final playlist
        uses: actions/upload-artifact@v4
        with:
          name: final-playlist
          path: output/final.m3u
